<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnectiononline" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=azlogist_master;User Id=azlogist_admin;Password=sr5EH383el;" providerName="System.Data.SqlClient" />
    <add name="DataEntitiesonline" connectionString="metadata=res://*/Models.DataModels.csdl|res://*/Models.DataModels.ssdl|res://*/Models.DataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\MSSQLSERVER2012;Initial Catalog=azlogist_master;User Id=azlogist_admin;Password=sr5EH383el;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="DefaultConnection" connectionString="Data Source=103.92.235.118, 1433;Initial Catalog=azlogist_master;User Id=azlogist_admin;Password=sr5EH383el;" providerName="System.Data.SqlClient" />
    <add name="DataEntities" connectionString="metadata=res://*/Models.DataModels.csdl|res://*/Models.DataModels.ssdl|res://*/Models.DataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=103.92.235.118, 1433;Initial Catalog=azlogist_master;User Id=azlogist_admin;Password=sr5EH383el;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="DefaultConnectionlocal" connectionString="Data Source=.;Initial Catalog=Project;Integrated Security=False; User ID = abcd; Password = @Ni9007777000;" providerName="System.Data.SqlClient" />
    <add name="DataEntitieslocal" connectionString="metadata=res://*/Models.DataModels.csdl|res://*/Models.DataModels.ssdl|res://*/Models.DataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Project;integrated security=False;user id=abcd;password=@Ni9007777000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="DefaultConnectionline" connectionString="Data Source=SQL6002.site4now.net;Initial Catalog=DB_A2F1DB_finalproject;User Id=DB_A2F1DB_finalproject_admin;Password=abcd1234;" providerName="System.Data.SqlClient" />
    <add name="DataEntitiesonline" connectionString="metadata=res://*/Models.DataModels.csdl|res://*/Models.DataModels.ssdl|res://*/Models.DataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL6002.site4now.net;Initial Catalog=DB_A2F1DB_finalproject;User Id=DB_A2F1DB_finalproject_admin;Password=abcd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--<add name="DefaultConnection1" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-FinalProject-20170813021349.mdf;Initial Catalog=aspnet-FinalProject-20170813021349;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--old server connectionstring<add name="DataEntities" connectionString="metadata=res://*/Models.DataModels.csdl|res://*/Models.DataModels.ssdl|res://*/Models.DataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6003.myASP.NET;initial catalog=DB_A29AEE_Project;user id=DB_A29AEE_Project_admin;password=abcd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--old server connection string <add name="DefaultConnection" connectionString="Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A29AEE_Project;Integrated Security=False;User ID=DB_A29AEE_Project_admin;Password=abcd1234;" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <machineKey validationKey="0F417C2B4AE9990FFAE6C65CE7D4BCCEE067EA92EA6F77D1F33E54AFDA70991E41869316B76F46799E7CA661D2F43B99A4387ADFE1A02694DEEF592223DB449D" decryptionKey="14AC3DB1D9FDB8CD22D1DD66D6E41A174AB6489BE77A02F6" validation="SHA1"/>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <globalization uiCulture="en" culture="en-GB"/>
    </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>